.square {
    border: .1em solid black;
    height: 30px;
    width: 30px;
}

#conatiner-div {
    display: flex;
    flex-flow: row wrap;
    width: 540px;
}

button {
    margin: 2em 40%;
    height: 50px;
    width: 200px;
}